<div class="container mini-menu">
  <div class="select-region">
    Регион:
    <app-region
      [regions]="regions"
      [selectedRegion]="selectedRegion"
      (changeRegion)="handleChangeRegion($event)"
    ></app-region>
  </div>
  <div class="button-basket">
    <app-top-basket
      [basket]="basket"
      [count]="basketCount"
      [sum]="basketSum"
      (changeCount)="handleChangeCount($event)"
      (deleteProduct)="handleDelete($event)"
    ></app-top-basket>
  </div>
</div>
<p-menubar [model]="items" styleClass="container top-menu"></p-menubar>
<div class="container page">
  <router-outlet
    (activate)="componentAdded($event)"
    (deactivate)="componentRemoved()"
  ></router-outlet>
</div>
