@import '~primeicons/primeicons.css';
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";

html, body {
  //height: 100%;
  background-color: #e9f1f7;
}
body app-root {
  .mini-menu {
    display: flex;
  }
  .select-region {
    float: left;
    margin: auto;
    margin-left: 0;
  }
  .button-basket {
    float: right;
  }
  .top-menu {
    margin-bottom: 25px !important;
    border: 1px solid #e9f1f7;
    overflow: hidden;

    a {
      font-weight: bold !important;
      &:hover {
        background-color: #fff;
      }
    }

    a.ui-state-active {
      background-color: #4fc08d !important;

      span {
        color: #fff !important;
      }
    }
  }

  .ui-button {
    background-color: #4fc08d !important;
    border-color: #4fc08d !important;
  }

  .container {
    max-width: 1140px;
    margin: auto;
    clear: both;
  }

  .page {
    padding: 15px;
    background-color: #ffffff;
    border-radius: 3px;
  }
}
