::ng-deep .product {
  app-count-product {
    width: 100px;
    margin: auto;
    display: block;
    margin-bottom: 15px;
  }
  app-button-to-cart {
    margin: auto;
    display: block;
    width: 100px;
  }
}
